<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Manager</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <script
      src="https://kit.fontawesome.com/f46158d183.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <%- include("partials/leftNav") %>
      <div class="rightSecOfHome">
        <div class="appNameRandom">
          <a href="/user/settings">@<%= passwordsDetails.userName %></a>
        </div>
        <div class="dropdownSec">
          <% passwordsDetails.passwords.forEach((password) => { %>

          <div class="dropdown">
            <button class="dropdownBtn"><%= password.websiteName %></button>
            <div class="arrow">
              <img src="/images/expand-arrow.png" alt="expand arrow" />
              <div class="deleteSec">
                <a href="/user/delete/<%= password._id %>"
                  ><i class="fa-solid fa-trash"></i
                ></a>
              </div>
            </div>
            <div class="dropdowncontent">
              <p><%= password.password %></p>
            </div>
          </div>
          <% }) %>
        </div>
        <div class="logOutRandom">
          <a _method="delete" href="/user/logout">Log Out</a>
        </div>
      </div>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
